.landing-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #d3c7ff;
  background: linear-gradient(180deg, rgba(211, 199, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

.landing-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.hero-text {
  max-width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 41px 31px;
  border-radius: 47.84px 128.51px 47.84px 47.84px;
  border: 1px solid #5d30ff;
}

.hero-text .hero-logo {
  width: 179px;
  height: auto;
  margin-bottom: 1.6rem;
}

.hero-text h2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #5d30ff;
}

.hero-text h2 span {
  color: #e53c24;
}

.hero-text p {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 3rem;
  color: #585858;
}

.hero-text .cta-button {
  padding: 11.2px;
  font-size: 1.5rem;
  width: 350.81817626953125px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #fff;
  background-color: #5d30ff;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: all.3s ease;
}

.hero-text .cta-button:hover {
  background-color: #4b24cc;
}

.hero-text .cta-button:active {
  background-color: #3a1dbb;
  transform: scale(0.98);
}

.hero-image {
  max-width: 500px;
  height: auto;
}

.hero-image img {
  width: 100%;
  height: auto;
}

/* feature cards section */
.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.features-section h2 {
  text-align: center;
  font-size: 2.625rem;
  font-weight: 600;
  margin-bottom: 3.688rem;
  color: #5d30ff;
}

.feature-cards {
  margin: 0 2rem;
  display: grid;
  width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.feature-card {
  border-radius: 10px 81px 10px 10px;
  border: 1px solid #5d30ff;
  padding: 2rem 0;
  text-align: center;
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card i {
  font-size: 6rem;
  color: #5d30ff;
  margin-bottom: 2rem;
}

.feature-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #5d30ff;
}

.feature-card p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #5D30FF;
}


